*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family: sna-serif;
}

.nav1 {
    width:100%;
    height:50px;
    color:white;
    background-color:#352F44;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav1 i{
    margin: 2px;
}
.nav1 a{
    text-decoration: none;
    color: #4b3d6d;
    padding: 5px 10px;
    background-color:#FAF0E6;
    margin: 2px;
    border-radius: 10%;
}
.nav1 p{
    font-size:medium;
}
.nav1 a:hover {
    border :2px solid black;
    font-weight: 900;
}
.nav2 img{
    height:50px;
    width: 130px;
    /* margin-top:40px ; */
}

.nav2{
    width: 100%;
    height: 80px;
    background: white;
    color: #352F44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}
.menu a{
    text-decoration: none;
    color: #352F44;
    padding: 7px 7px;
    font-size: medium;
}
header {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7)65%,#594c79), url("college3.jpg");
    background-size: 100% 100%;
}
.h-text {
    max-width: 600px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.h-text h1 {
    font-size:3em;
    font-family: 'Dancing Script', cursive;
}
.h-text span {
    color:#c9ae87;
    font-family: 'Dancing Script', cursive;
}
.h-text p{
    font-size: 20px;
    margin: 40px 0;
    line-height: 30px;
}
.h-text a{
    text-decoration: none;
    color: black;
    background:#FAF0E6;
    padding: 10px 20px;
    margin: 0 15px;
    letter-spacing: 5px;
    border-radius: 5%;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  font-weight: 900;
}
.menu i{
    width: 30px;
    display: flex;
    justify-content: center;
    display: inline;
    /**horizontally cnter hogaya**/
    align-items: center;
    /**vertically center hogaya**/
    font-size: 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}
.menu i:hover {
    color: orange ;
}
.h-text a:hover {
    border :2px solid black;
    font-weight: 900;
}
